<h2>Welcome, {{ user.username }}!</h2>

{% if user.is_authenticated %}
    <p>You are logged in as {{ user.email }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}
<a href="{% url 'register' %}"><button>Register</button></a>

<h2>Roommate Finder</h2>
<p>Find your perfect roommate!</p>
<a href="{% url 'roommate_profile_edit' %}"><button>My Roommate Profile</button></a>
<a href="{% url 'sharing_request' %}"><button>Browse Sharing Requests</button></a>

<h2>Search HDB Resale Flats</h2>
<form method="get" action="{% url 'search_flats' %}">
    <input type="text" name="q" placeholder="Enter postal code" required>
    <button type="submit">Search</button>
</form>

<h2>Crowdsharing</h2>
<a href="{% url 'mappage' %}"><button>crowdsharing</button></a>
